@media all and (max-width: 1170px) {
  #wrap #wrap-gap {
    padding: 0;
  }
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 5.60852vw;
    margin: 30px 0;
    line-height: 80px;
  }
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3::before {
    width: 290px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .title h3,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .title h3 {
    font-size: 29px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box {
    line-height: 150%;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul {
    height: 102.33766vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(1) {
    width: 25vw;
    height: 25.58442vw;
    top: 0vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(2) {
    width: 50vw;
    height: 51.16883vw;
    top: 0vw;
    left: 25vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(3) {
    width: 25vw;
    height: 25.58442vw;
    top: 0vw;
    left: 75vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(4) {
    width: 25vw;
    height: 25.58442vw;
    top: 25.58442vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(5) {
    width: 25vw;
    height: 25.58442vw;
    top: 25.58442vw;
    left: 75vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(6) {
    width: 50vw;
    height: 51.16883vw;
    top: 51.16883vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(7) {
    width: 50vw;
    height: 51.16883vw;
    top: 51.16883vw;
    left: 50vw;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 {
    font-size: 28px;
  }
  #wrap #quickBox {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  #wrap #wrap-gap #header .container .gap .wrap .mobile-btn-box {
    display: block;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    background: black;
    height: 100vh;
    overflow-y: auto;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul {
    height: auto;
    width: 100%;
    display: block;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li {
    height: auto;
    border-bottom: 1px solid #444;
    margin: 0;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li > a.main-btn {
    color: #fff;
    padding: 0 20px;
    height: 38px;
    line-height: 38px;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap {
    padding: 0 20px;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul {
    width: 100%;
    display: block;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li {
    width: 100%;
    border-right: 0;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl {
    padding: 0;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dt,
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub1356 .sub-gap ul li dl dd {
    border-bottom: 1px solid #303030;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 {
    display: none;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: #232323;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap {
    padding: 0 20px;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span {
    color: #fff;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li > a > span::after {
    display: none;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub {
    border-top: 1px solid #303030;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #232323;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap {
    padding: 0;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li {
    border-bottom: 1px solid #303030;
  }
  #wrap #wrap-gap #header .container .gap .wrap #nav > ul > li .sub.sub24 .sub-gap > ul > li .sub-sub .sub-gap ul li a span {
    color: #9d9d9d;
  }
  #wrap #wrap-gap #header.show .container .gap .wrap #nav {
    top: 60px;
  }
  #wrap #wrap-gap #header.show .container .gap .wrap #nav > ul > li .sub.sub1356,
  #wrap #wrap-gap #header.show .container .gap .wrap #nav > ul > li .sub.sub24 {
    top: 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .title h3,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .title h3 {
    font-size: 20px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box {
    line-height: 150%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4 {
    margin: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p {
    margin: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box {
    text-align: center;
    padding: 0;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box h2 {
    font-size: 15px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box p {
    text-align: center;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box a {
    margin: 0 auto;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box a i {
    right: -20px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap ul li {
    width: 100%;
  }
}

@media all and (max-width: 990px) {
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 4.48682vw;
    margin: 20px 0;
    line-height: 60px;
  }
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3::before {
    width: 240px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title {
    width: 100%;
    margin-top: 20px;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2 {
    text-align: center;
    margin-top: 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 {
    font-size: 25px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap img,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap img {
    height: 380px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box {
    line-height: 180%;
    padding: 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4 {
    font-size: 18px;
    margin: 0 0 25px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p {
    font-size: 14px;
    margin: 0 0 25px 0;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul {
    height: 204.67532vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(1) {
    width: 50vw;
    height: 51.16883vw;
    top: 0vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(2) {
    width: 50vw;
    height: 51.16883vw;
    top: 0vw;
    left: 50vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(3) {
    width: 50vw;
    height: 51.16883vw;
    top: 51.16883vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(4) {
    width: 50vw;
    height: 51.16883vw;
    top: 51.16883vw;
    left: 50vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(5) {
    width: 50vw;
    height: 51.16883vw;
    top: 102.33766vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(6) {
    width: 50vw;
    height: 51.16883vw;
    top: 102.33766vw;
    left: 50vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(7) {
    width: 50vw;
    height: 51.16883vw;
    top: 153.50649vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li:nth-child(4), #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li:nth-child(5), #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li:nth-child(6) {
    padding: 0;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 {
    margin: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li {
    width: 50%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom .text {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .top ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .top ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li {
    width: 100%;
    padding: 5px 0;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(1) {
    text-align: center;
  }
  #wrap #footer .container .gap .wrap .content .bottom ul li:nth-child(2) {
    text-align: center;
  }
  #wrap #footer {
    padding: 50px 0 30px 0;
  }
}

@media all and (max-width: 780px) {
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h2 {
    font-size: 4.48682vw;
    margin: 20px 0;
    line-height: 60px;
  }
  #wrap #wrap-gap #main #section1 .slide-container .slide-view .slide-wrap .slide .caption h3::before {
    width: 200px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2 {
    text-align: center;
    margin-top: 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 {
    font-size: 25px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap img,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap img {
    padding: 0;
    width: 100%;
    height: 400px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box {
    line-height: 180%;
    text-align: center;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4 {
    font-size: 15px;
    margin: 0 0 17px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p {
    font-size: 13px;
    margin: 0 0 17px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box a i,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box a i {
    right: -20px;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul {
    height: 716.36364vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(1) {
    width: 100vw;
    height: 102.33766vw;
    top: 0vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(2) {
    width: 100vw;
    height: 102.33766vw;
    top: 102.33766vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(3) {
    width: 100vw;
    height: 102.33766vw;
    top: 204.67532vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(4) {
    width: 100vw;
    height: 102.33766vw;
    top: 307.01299vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(5) {
    width: 100vw;
    height: 102.33766vw;
    top: 409.35065vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(6) {
    width: 100vw;
    height: 102.33766vw;
    top: 511.68831vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section5 .container .gap .wrap .content .top > ul > li:nth-child(7) {
    width: 100vw;
    height: 102.33766vw;
    top: 614.02597vw;
    left: 0vw;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 {
    margin: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom .text {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box li .col-gap .col-wrap .bottom .text h4 {
    margin: 0 0 50px 0;
  }
}

@media all and (max-width: 540px) {
  #wrap #wrap-gap #main #section6 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 {
    font-size: 25px;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 {
    margin: 0 0 15px 0;
    font-size: 25px;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul li .col-gap .col-wrap .bottom .text {
    text-align: center;
  }
}

@media all and (max-width: 480px) {
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title {
    width: 100%;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2 {
    text-align: center;
    margin-top: 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 {
    font-size: 18px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li:first-child .col-gap .col-wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap img,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap img {
    padding: 0;
    width: 100%;
    height: 400px;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box {
    line-height: 180%;
    text-align: center;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box h4 {
    font-size: 15px;
    margin: 0 0 17px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box p {
    font-size: 13px;
    margin: 0 0 17px 0;
  }
  #wrap #wrap-gap #main #section2 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box a i,
  #wrap #wrap-gap #main #section4 .container .gap .wrap .content ul li .col-gap .col-wrap .text-box a i {
    right: -20px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap {
    margin: 15px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box {
    text-align: center;
    padding: 0;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box h2 {
    font-size: 15px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box p {
    text-align: center;
    font-size: 12px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box a {
    margin: 0 auto;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap .text-box a i {
    right: -20px;
  }
  #wrap #wrap-gap #main #section3 .container .gap .wrap .content > ul > li .col-gap .col-wrap ul li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 {
    font-size: 18px;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.top-box,
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.top-box li,
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.bottom-box li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.top-box li .col-gap .col-wrap .bottom,
  #wrap #wrap-gap #main #section6 .container .gap .wrap .content ul.bottom-box li .col-gap .col-wrap .bottom {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title {
    width: 100%;
    text-align: center;
    padding: 0 0 15px 0;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h2::before {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 {
    margin: 0 0 15px 0;
    font-size: 18px;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .title h3 br {
    display: none;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.top-box,
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.top-box li,
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box li {
    width: 100%;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.top-box li .col-gap .col-wrap .bottom .text,
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box li .col-gap .col-wrap .bottom .text {
    text-align: center;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.top-box li .col-gap .col-wrap .bottom .text h4,
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box li .col-gap .col-wrap .bottom .text h4 {
    font-size: 11px;
  }
  #wrap #wrap-gap #main #section7 .container .gap .wrap .content ul.bottom-box li .col-gap .col-wrap .bottom .text h4 {
    margin: 0 0 50px 0;
  }
}
